.wrapper {
    display: flex;
    margin-top: 20px;
    width: 100%;

    //Preview
    .active {
        padding: 7px;
        border: 3px solid var(--white-color);
    }
}

.item__preview {
    position: relative;
    margin: 0 15px;

    &:hover {
        cursor: pointer;
    }
}

.item__order {
    position: absolute;
    right: 0;
    bottom: -24px;
    color: var(--white-color);
    font-size: 3.2rem;
    font-weight: 700;
    line-height: 48px;
}

//Play rounded
.rounded::before {
    content: '';
    position: absolute;
    top: -16px;
    left: -16px;
    right: -16px;
    bottom: -16px;
    border-color: transparent var(--primary-color) var(--primary-color) var(--primary-color);
    border-width: 4px;
    border-style: solid;
    border-radius: 50%;
    animation: rounded 1.5s linear infinite;
}

@keyframes rounded {
    to {
        transform: rotate(360deg);
    }
}
